In [1]:
# Import the pandas library and give it a shorter name 'pd'
import pandas as pd

# Import the regular expressions library
import re

In [2]:
# Read the 'BBC.txt' file from the 'Dataset' folder into a DataFrame without using the first row as headers
df= pd.read_table('BBC.txt', header=None)

In [3]:
# Display the first 5 rows of the DataFrame 'df'
df.head()

                                                   0
0  1  1:123 2:1.316440 3:1.516003 4:5.605905 5:5....
1  1 1:124 2:0.966079 3:0.546420 4:4.046537 5:3.1...
2  1 1:109 2:2.035407 3:0.571643 4:9.551406 5:5.8...
3  1 1:86 2:3.206008 3:0.786326 4:10.092709 5:2.6...
4  1 1:76 2:3.135861 3:0.896346 4:10.348035 5:2.6...

In [4]:
# Print the number of data points (rows) in the DataFrame 'df'
print("Number of data points in this dataset: ", len(df))

Number of data points in this dataset:  17720

In [5]:
# Split the strings in the first column of the DataFrame 'df' into lists of words
s = df[0].str.split(' ')

In [6]:
# For each list of words in 's'
for x in s:
     # Replace the start of the first word in the list with 'Label:'
    x[0] = re.sub('^', 'Label:', x[0])

In [7]:
# Display the first list of words in 's'
s[0]

['Label:1',
 '',
 '1:123',
 '2:1.316440',
 '3:1.516003',
 '4:5.605905',
 '5:5.346760',
 '6:0.013233',
 '7:0.010729',
 '8:0.091743',
 '9:0.050768',
 '10:3808.067871',
 '11:702.992493',
 '12:7533.133301',
 '13:1390.499268',
 '14:971.098511',
 '15:1894.978027',
 '16:114.965019',
 '17:45.018257',
 '18:0.635224',
 '19:0.095226',
 '20:0.063398',
 '21:0.061210',
 '22:0.038319',
 '23:0.018285',
 '24:0.011113',
 '25:0.007736',
 '26:0.004864',
 '27:0.004220',
 '28:0.003273',
 '29:0.002699',
 '30:0.002553',
 '31:0.002323',
 '32:0.002108',
 '33:0.002036',
 '34:0.001792',
 '35:0.001553',
 '36:0.001250',
 '37:0.001317',
 '38:0.001084',
 '39:0.000818',
 '40:0.000624',
 '41:0.000586',
 '42:0.000529',
 '43:0.000426',
 '44:0.000359',
 '45:0.000446',
 '46:0.000268',
 '47:0.000221',
 '48:0.000154',
 '49:0.000217',
 '50:0.000193',
 '51:0.000163',
 '52:0.000165',
 '53:0.000210',
 '54:0.000114',
 '55:0.000130',
 '56:0.000055',
 '57:0.000013',
 '58:0.733037',
 '59:0.133122',
 '60:0.041263',
 '61:0.019699',
 '62:0.010962',
 '63:0.006927',
 '64:0.004525',
 '65:0.003128',
 '66:0.002314',
 '67:0.001762',
 '68:0.001361',
 '69:0.001065',
 '70:0.000914',
 '71:0.000777',
 '72:0.000667',
 '73:0.000565',
 '74:0.000520',
 '75:0.000467',
 '76:0.000469',
 '77:0.000486',
 '78:0.000417',
 '79:0.000427',
 '80:0.000349',
 '81:0.000258',
 '82:0.000262',
 '83:0.000344',
 '84:0.000168',
 '85:0.000163',
 '86:0.001058',
 '90:0.020584',
 '91:0.185038',
 '92:0.148316',
 '93:0.047098',
 '94:0.169797',
 '95:0.061318',
 '96:0.002200',
 '97:0.010440',
 '98:0.004463',
 '100:0.010558',
 '101:0.002067',
 '102:0.338970',
 '103:0.470364',
 '104:0.189997',
 '105:0.018296',
 '106:0.126517',
 '107:0.047620',
 '108:0.045863',
 '109:0.184865',
 '110:0.095976',
 '111:0.015295',
 '112:0.056323',
 '113:0.024587',
 '115:0.037647',
 '116:0.006015',
 '117:0.160327',
 '118:0.251688',
 '119:0.176144',
 '123:0.006356',
 '219:0.002119',
 '276:0.002119',
 '296:0.341102',
 '448:0.099576',
 '491:0.069915',
 '572:0.141949',
 '573:0.103814',
 '601:0.002119',
 '623:0.050847',
 '726:0.038136',
 '762:0.036017',
 '816:0.036017',
 '871:0.016949',
 '924:0.008475',
 '959:0.036017',
 '1002:0.006356',
 '1016:0.008475',
 '1048:0.002119',
 '4124:0.422333825949',
 '4125:0.663917631952']

In [8]:
# Create a new list 'm' that contains lists of words from 's', excluding any empty strings
m = [list(w for w in x if w)for x in s]

In [9]:
# Display the first list of words in 'm'
m[0]

['Label:1',
 '1:123',
 '2:1.316440',
 '3:1.516003',
 '4:5.605905',
 '5:5.346760',
 '6:0.013233',
 '7:0.010729',
 '8:0.091743',
 '9:0.050768',
 '10:3808.067871',
 '11:702.992493',
 '12:7533.133301',
 '13:1390.499268',
 '14:971.098511',
 '15:1894.978027',
 '16:114.965019',
 '17:45.018257',
 '18:0.635224',
 '19:0.095226',
 '20:0.063398',
 '21:0.061210',
 '22:0.038319',
 '23:0.018285',
 '24:0.011113',
 '25:0.007736',
 '26:0.004864',
 '27:0.004220',
 '28:0.003273',
 '29:0.002699',
 '30:0.002553',
 '31:0.002323',
 '32:0.002108',
 '33:0.002036',
 '34:0.001792',
 '35:0.001553',
 '36:0.001250',
 '37:0.001317',
 '38:0.001084',
 '39:0.000818',
 '40:0.000624',
 '41:0.000586',
 '42:0.000529',
 '43:0.000426',
 '44:0.000359',
 '45:0.000446',
 '46:0.000268',
 '47:0.000221',
 '48:0.000154',
 '49:0.000217',
 '50:0.000193',
 '51:0.000163',
 '52:0.000165',
 '53:0.000210',
 '54:0.000114',
 '55:0.000130',
 '56:0.000055',
 '57:0.000013',
 '58:0.733037',
 '59:0.133122',
 '60:0.041263',
 '61:0.019699',
 '62:0.010962',
 '63:0.006927',
 '64:0.004525',
 '65:0.003128',
 '66:0.002314',
 '67:0.001762',
 '68:0.001361',
 '69:0.001065',
 '70:0.000914',
 '71:0.000777',
 '72:0.000667',
 '73:0.000565',
 '74:0.000520',
 '75:0.000467',
 '76:0.000469',
 '77:0.000486',
 '78:0.000417',
 '79:0.000427',
 '80:0.000349',
 '81:0.000258',
 '82:0.000262',
 '83:0.000344',
 '84:0.000168',
 '85:0.000163',
 '86:0.001058',
 '90:0.020584',
 '91:0.185038',
 '92:0.148316',
 '93:0.047098',
 '94:0.169797',
 '95:0.061318',
 '96:0.002200',
 '97:0.010440',
 '98:0.004463',
 '100:0.010558',
 '101:0.002067',
 '102:0.338970',
 '103:0.470364',
 '104:0.189997',
 '105:0.018296',
 '106:0.126517',
 '107:0.047620',
 '108:0.045863',
 '109:0.184865',
 '110:0.095976',
 '111:0.015295',
 '112:0.056323',
 '113:0.024587',
 '115:0.037647',
 '116:0.006015',
 '117:0.160327',
 '118:0.251688',
 '119:0.176144',
 '123:0.006356',
 '219:0.002119',
 '276:0.002119',
 '296:0.341102',
 '448:0.099576',
 '491:0.069915',
 '572:0.141949',
 '573:0.103814',
 '601:0.002119',
 '623:0.050847',
 '726:0.038136',
 '762:0.036017',
 '816:0.036017',
 '871:0.016949',
 '924:0.008475',
 '959:0.036017',
 '1002:0.006356',
 '1016:0.008475',
 '1048:0.002119',
 '4124:0.422333825949',
 '4125:0.663917631952']

In [10]:
# Create a new list 'd' where each list in 'm' is converted into a dictionary
d = [dict(w.split(':') for w in x) for x in m]

In [11]:
# Display the first dictionary in the list 'd'
d[0]

{'Label': '1',
 '1': '123',
 '2': '1.316440',
 '3': '1.516003',
 '4': '5.605905',
 '5': '5.346760',
 '6': '0.013233',
 '7': '0.010729',
 '8': '0.091743',
 '9': '0.050768',
 '10': '3808.067871',
 '11': '702.992493',
 '12': '7533.133301',
 '13': '1390.499268',
 '14': '971.098511',
 '15': '1894.978027',
 '16': '114.965019',
 '17': '45.018257',
 '18': '0.635224',
 '19': '0.095226',
 '20': '0.063398',
 '21': '0.061210',
 '22': '0.038319',
 '23': '0.018285',
 '24': '0.011113',
 '25': '0.007736',
 '26': '0.004864',
 '27': '0.004220',
 '28': '0.003273',
 '29': '0.002699',
 '30': '0.002553',
 '31': '0.002323',
 '32': '0.002108',
 '33': '0.002036',
 '34': '0.001792',
 '35': '0.001553',
 '36': '0.001250',
 '37': '0.001317',
 '38': '0.001084',
 '39': '0.000818',
 '40': '0.000624',
 '41': '0.000586',
 '42': '0.000529',
 '43': '0.000426',
 '44': '0.000359',
 '45': '0.000446',
 '46': '0.000268',
 '47': '0.000221',
 '48': '0.000154',
 '49': '0.000217',
 '50': '0.000193',
 '51': '0.000163',
 '52': '0.000165',
 '53': '0.000210',
 '54': '0.000114',
 '55': '0.000130',
 '56': '0.000055',
 '57': '0.000013',
 '58': '0.733037',
 '59': '0.133122',
 '60': '0.041263',
 '61': '0.019699',
 '62': '0.010962',
 '63': '0.006927',
 '64': '0.004525',
 '65': '0.003128',
 '66': '0.002314',
 '67': '0.001762',
 '68': '0.001361',
 '69': '0.001065',
 '70': '0.000914',
 '71': '0.000777',
 '72': '0.000667',
 '73': '0.000565',
 '74': '0.000520',
 '75': '0.000467',
 '76': '0.000469',
 '77': '0.000486',
 '78': '0.000417',
 '79': '0.000427',
 '80': '0.000349',
 '81': '0.000258',
 '82': '0.000262',
 '83': '0.000344',
 '84': '0.000168',
 '85': '0.000163',
 '86': '0.001058',
 '90': '0.020584',
 '91': '0.185038',
 '92': '0.148316',
 '93': '0.047098',
 '94': '0.169797',
 '95': '0.061318',
 '96': '0.002200',
 '97': '0.010440',
 '98': '0.004463',
 '100': '0.010558',
 '101': '0.002067',
 '102': '0.338970',
 '103': '0.470364',
 '104': '0.189997',
 '105': '0.018296',
 '106': '0.126517',
 '107': '0.047620',
 '108': '0.045863',
 '109': '0.184865',
 '110': '0.095976',
 '111': '0.015295',
 '112': '0.056323',
 '113': '0.024587',
 '115': '0.037647',
 '116': '0.006015',
 '117': '0.160327',
 '118': '0.251688',
 '119': '0.176144',
 '123': '0.006356',
 '219': '0.002119',
 '276': '0.002119',
 '296': '0.341102',
 '448': '0.099576',
 '491': '0.069915',
 '572': '0.141949',
 '573': '0.103814',
 '601': '0.002119',
 '623': '0.050847',
 '726': '0.038136',
 '762': '0.036017',
 '816': '0.036017',
 '871': '0.016949',
 '924': '0.008475',
 '959': '0.036017',
 '1002': '0.006356',
 '1016': '0.008475',
 '1048': '0.002119',
 '4124': '0.422333825949',
 '4125': '0.663917631952'}

In [12]:
# Get the keys from the dictionary with the most key-value pairs and store them in 'cols'
cols = sorted(d, key=len, reverse=True)[0].keys()

# Print the keys
print(cols)

dict_keys(['Label', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '123', '125', '127', '129', '134', '141', '142', '143', '144', '145', '149', '152', '156', '162', '166', '168', '171', '176', '178', '182', '185', '186', '187', '188', '192', '194', '195', '197', '206', '208', '209', '212', '215', '219', '220', '221', '223', '229', '236', '240', '262', '271', '276', '296', '300', '319', '347', '366', '406', '407', '409', '426', '441', '448', '462', '478', '482', '491', '505', '559', '572', '573', '580', '601', '621', '623', '627', '651', '709', '726', '762', '767', '792', '816', '840', '852', '871', '877', '882', '924', '959', '1002', '1016', '1048', '1112', '4124', '4125'])

In [13]:
# Create a DataFrame from the list of dictionaries 'd', using existing index and selected columns
df = pd.DataFrame.from_records(d, index=df.index, columns=cols)

In [14]:
# Display the first 5 rows of the updated DataFrame 'df'
df.head()

,Label,1,2,3,4,5,6,7,8,9,...,877,882,924,959,1002,1016,1048,1112,4124,4125
0,1,123,1.316440,1.516003,5.605905,5.346760,0.013233,0.010729,0.091743,0.050768,...,NaN,NaN,0.008475,0.036017,0.006356,0.008475,0.002119,NaN,0.422333825949,0.663917631952
1,1,124,0.966079,0.546420,4.046537,3.190973,0.008338,0.011490,0.075504,0.065841,...,NaN,NaN,0.109244,0.117647,0.006303,NaN,0.008403,NaN,0.33266418864,0.766183685153
2,1,109,2.035407,0.571643,9.551406,5.803685,0.015189,0.014294,0.094209,0.044991,...,0.002404,NaN,0.074519,0.062500,0.004808,NaN,0.009615,NaN,0.346673819286,0.225022420218
3,1,86,3.206008,0.786326,10.092709,2.693058,0.013962,0.011039,0.092042,0.043756,...,0.003086,NaN,0.061728,0.046296,0.012346,NaN,0.012346,0.003086,0.99332283165,0.840082960689
4,1,76,3.135861,0.896346,10.348035,2.651010,0.020914,0.012061,0.108018,0.052617,...,0.031690,NaN,NaN,NaN,0.003521,NaN,0.045775,0.007042,0.341520175002,0.710470129795

In [15]:
# Print the number of rows in the DataFrame 'df'
print("Number of rows: ", len(df))

Number of rows:  17720

In [16]:
# Convert the DataFrame columns to a list and store it in 'df_cols'
df_cols = list(df.columns)

# Remove the column named 'Label' from 'df_cols'
df_cols.remove('Label')

# Convert the remaining column names to integers and store them back in 'df_cols'
df_cols = list(map(int, df_cols))

# Sort the column names in ascending order
df_cols.sort()

# Convert the column names back to strings
df_cols = list(map(str, df_cols))

# Add the 'Label' column name back to the end of the list
df_cols.append('Label')

In [17]:
# Reorder the columns of the DataFrame 'df' based on the list 'df_cols'
df = df[df_cols]

In [18]:
# Replace all missing values (NaN) in the DataFrame 'df' with the string 'NA'
df = df.fillna('NA')

In [19]:
# Display the first 5 rows of the DataFrame 'df'
df.head()

,1,2,3,4,5,6,7,8,9,10,...,882,924,959,1002,1016,1048,1112,4124,4125,Label
0,123,1.316440,1.516003,5.605905,5.346760,0.013233,0.010729,0.091743,0.050768,3808.067871,...,NA,0.008475,0.036017,0.006356,0.008475,0.002119,NA,0.422333825949,0.663917631952,1
1,124,0.966079,0.546420,4.046537,3.190973,0.008338,0.011490,0.075504,0.065841,3466.266113,...,NA,0.109244,0.117647,0.006303,NA,0.008403,NA,0.33266418864,0.766183685153,1
2,109,2.035407,0.571643,9.551406,5.803685,0.015189,0.014294,0.094209,0.044991,3798.196533,...,NA,0.074519,0.062500,0.004808,NA,0.009615,NA,0.346673819286,0.225022420218,1
3,86,3.206008,0.786326,10.092709,2.693058,0.013962,0.011039,0.092042,0.043756,3761.712402,...,NA,0.061728,0.046296,0.012346,NA,0.012346,0.003086,0.99332283165,0.840082960689,1
4,76,3.135861,0.896346,10.348035,2.651010,0.020914,0.012061,0.108018,0.052617,3784.488037,...,NA,NA,NA,0.003521,NA,0.045775,0.007042,0.341520175002,0.710470129795,1

In [20]:
# Save the DataFrame 'df' to a CSV file named 'BBC_Cleaned.csv' without including row indices
df.to_csv("BBC_Cleaned.csv", index=False)