In [1]:
# Import the pandas library and give it a shorter name 'pd'
import pandas as pd

# Import the regular expressions library
import re

In [2]:
# Read the 'TIMESNOW.txt' file from the 'Dataset' folder into a DataFrame without using the first row as headers
df= pd.read_table('TIMESNOW.txt', header=None)

In [3]:
# Display the first 5 rows of the DataFrame 'df'
df.head()

                                                   0
0  1  1:34 2:7.221330 3:3.191483 4:23.518745 5:11...
1  1  1:26 2:6.180094 3:3.015362 4:32.932747 5:18...
2  1  1:25 2:2.462173 3:1.541003 4:20.039402 5:18...
3  1  1:37 2:6.194136 3:2.658522 4:22.864201 5:13...
4  1  1:25 2:4.367200 3:2.063856 4:31.797680 5:14...

In [4]:
# Print the number of data points (rows) in the DataFrame 'df'
print("Number of data points in this dataset: ", len(df))

Number of data points in this dataset:  39252

In [5]:
# Split the strings in the first column of the DataFrame 'df' into lists of words
s = df[0].str.split(' ')

In [6]:
# For each list of words in 's'
for x in s:
     # Replace the start of the first word in the list with 'Label:'
    x[0] = re.sub('^', 'Label:', x[0])

In [7]:
# Display the first list of words in 's'
s[0]

['Label:1',
 '',
 '1:34',
 '2:7.221330',
 '3:3.191483',
 '4:23.518745',
 '5:11.492748',
 '6:0.012884',
 '7:0.010939',
 '8:0.070129',
 '9:0.042020',
 '10:3479.684814',
 '11:1272.241577',
 '12:6925.000000',
 '13:2529.583496',
 '14:793.310242',
 '15:1491.667480',
 '16:95.101265',
 '17:47.862164',
 '18:0.280428',
 '19:0.057195',
 '20:0.037041',
 '21:0.030156',
 '22:0.027542',
 '23:0.026764',
 '24:0.026208',
 '25:0.025655',
 '26:0.026445',
 '27:0.025279',
 '28:0.024324',
 '29:0.023326',
 '30:0.022514',
 '31:0.021632',
 '32:0.020039',
 '33:0.019796',
 '34:0.018026',
 '35:0.022698',
 '36:0.015102',
 '37:0.013252',
 '38:0.012440',
 '39:0.011919',
 '40:0.010791',
 '41:0.009966',
 '42:0.008903',
 '43:0.008340',
 '44:0.007499',
 '45:0.006459',
 '46:0.006567',
 '47:0.005370',
 '48:0.004960',
 '49:0.004578',
 '50:0.004097',
 '51:0.003342',
 '52:0.003146',
 '53:0.002232',
 '54:0.002100',
 '55:0.001491',
 '56:0.001071',
 '57:0.000948',
 '58:0.284830',
 '59:0.188584',
 '60:0.095811',
 '61:0.058109',
 '62:0.039912',
 '63:0.031203',
 '64:0.024834',
 '65:0.020402',
 '66:0.018373',
 '67:0.017416',
 '68:0.014771',
 '69:0.014248',
 '70:0.014764',
 '71:0.010573',
 '72:0.007839',
 '73:0.009584',
 '74:0.009506',
 '75:0.004559',
 '76:0.002932',
 '77:0.002510',
 '78:0.002162',
 '79:0.001889',
 '80:0.001770',
 '81:0.001677',
 '82:0.001380',
 '83:0.001265',
 '84:0.000979',
 '85:0.000388',
 '86:0.000078',
 '87:0.000001',
 '91:0.000200',
 '92:0.206233',
 '93:0.055721',
 '94:0.258808',
 '95:0.096710',
 '96:0.006383',
 '97:0.012799',
 '98:0.018299',
 '99:0.094127',
 '100:0.197161',
 '101:0.200766',
 '102:0.425305',
 '103:0.386083',
 '104:0.229146',
 '106:0.001151',
 '107:0.094178',
 '108:0.072075',
 '109:0.113430',
 '110:0.081476',
 '111:0.012468',
 '112:0.023315',
 '113:0.025366',
 '114:0.075289',
 '115:0.147547',
 '116:0.162155',
 '117:0.239114',
 '118:0.229784',
 '119:0.124483',
 '221:0.034483',
 '296:0.275862',
 '448:0.163793',
 '491:0.060345',
 '572:0.129310',
 '573:0.008621',
 '580:0.155172',
 '762:0.129310',
 '816:0.051724',
 '871:0.008621',
 '959:0.017241',
 '4124:0.340551293848',
 '4125:0.263356149835']

In [8]:
# Create a new list 'm' that contains lists of words from 's', excluding any empty strings
m = [list(w for w in x if w)for x in s]

In [9]:
# Display the first list of words in 'm'
m[0]

['Label:1',
 '1:34',
 '2:7.221330',
 '3:3.191483',
 '4:23.518745',
 '5:11.492748',
 '6:0.012884',
 '7:0.010939',
 '8:0.070129',
 '9:0.042020',
 '10:3479.684814',
 '11:1272.241577',
 '12:6925.000000',
 '13:2529.583496',
 '14:793.310242',
 '15:1491.667480',
 '16:95.101265',
 '17:47.862164',
 '18:0.280428',
 '19:0.057195',
 '20:0.037041',
 '21:0.030156',
 '22:0.027542',
 '23:0.026764',
 '24:0.026208',
 '25:0.025655',
 '26:0.026445',
 '27:0.025279',
 '28:0.024324',
 '29:0.023326',
 '30:0.022514',
 '31:0.021632',
 '32:0.020039',
 '33:0.019796',
 '34:0.018026',
 '35:0.022698',
 '36:0.015102',
 '37:0.013252',
 '38:0.012440',
 '39:0.011919',
 '40:0.010791',
 '41:0.009966',
 '42:0.008903',
 '43:0.008340',
 '44:0.007499',
 '45:0.006459',
 '46:0.006567',
 '47:0.005370',
 '48:0.004960',
 '49:0.004578',
 '50:0.004097',
 '51:0.003342',
 '52:0.003146',
 '53:0.002232',
 '54:0.002100',
 '55:0.001491',
 '56:0.001071',
 '57:0.000948',
 '58:0.284830',
 '59:0.188584',
 '60:0.095811',
 '61:0.058109',
 '62:0.039912',
 '63:0.031203',
 '64:0.024834',
 '65:0.020402',
 '66:0.018373',
 '67:0.017416',
 '68:0.014771',
 '69:0.014248',
 '70:0.014764',
 '71:0.010573',
 '72:0.007839',
 '73:0.009584',
 '74:0.009506',
 '75:0.004559',
 '76:0.002932',
 '77:0.002510',
 '78:0.002162',
 '79:0.001889',
 '80:0.001770',
 '81:0.001677',
 '82:0.001380',
 '83:0.001265',
 '84:0.000979',
 '85:0.000388',
 '86:0.000078',
 '87:0.000001',
 '91:0.000200',
 '92:0.206233',
 '93:0.055721',
 '94:0.258808',
 '95:0.096710',
 '96:0.006383',
 '97:0.012799',
 '98:0.018299',
 '99:0.094127',
 '100:0.197161',
 '101:0.200766',
 '102:0.425305',
 '103:0.386083',
 '104:0.229146',
 '106:0.001151',
 '107:0.094178',
 '108:0.072075',
 '109:0.113430',
 '110:0.081476',
 '111:0.012468',
 '112:0.023315',
 '113:0.025366',
 '114:0.075289',
 '115:0.147547',
 '116:0.162155',
 '117:0.239114',
 '118:0.229784',
 '119:0.124483',
 '221:0.034483',
 '296:0.275862',
 '448:0.163793',
 '491:0.060345',
 '572:0.129310',
 '573:0.008621',
 '580:0.155172',
 '762:0.129310',
 '816:0.051724',
 '871:0.008621',
 '959:0.017241',
 '4124:0.340551293848',
 '4125:0.263356149835']

In [10]:
# Create a new list 'd' where each list in 'm' is converted into a dictionary
d = [dict(w.split(':') for w in x) for x in m]

In [11]:
# Display the first dictionary in the list 'd'
d[0]

{'Label': '1',
 '1': '34',
 '2': '7.221330',
 '3': '3.191483',
 '4': '23.518745',
 '5': '11.492748',
 '6': '0.012884',
 '7': '0.010939',
 '8': '0.070129',
 '9': '0.042020',
 '10': '3479.684814',
 '11': '1272.241577',
 '12': '6925.000000',
 '13': '2529.583496',
 '14': '793.310242',
 '15': '1491.667480',
 '16': '95.101265',
 '17': '47.862164',
 '18': '0.280428',
 '19': '0.057195',
 '20': '0.037041',
 '21': '0.030156',
 '22': '0.027542',
 '23': '0.026764',
 '24': '0.026208',
 '25': '0.025655',
 '26': '0.026445',
 '27': '0.025279',
 '28': '0.024324',
 '29': '0.023326',
 '30': '0.022514',
 '31': '0.021632',
 '32': '0.020039',
 '33': '0.019796',
 '34': '0.018026',
 '35': '0.022698',
 '36': '0.015102',
 '37': '0.013252',
 '38': '0.012440',
 '39': '0.011919',
 '40': '0.010791',
 '41': '0.009966',
 '42': '0.008903',
 '43': '0.008340',
 '44': '0.007499',
 '45': '0.006459',
 '46': '0.006567',
 '47': '0.005370',
 '48': '0.004960',
 '49': '0.004578',
 '50': '0.004097',
 '51': '0.003342',
 '52': '0.003146',
 '53': '0.002232',
 '54': '0.002100',
 '55': '0.001491',
 '56': '0.001071',
 '57': '0.000948',
 '58': '0.284830',
 '59': '0.188584',
 '60': '0.095811',
 '61': '0.058109',
 '62': '0.039912',
 '63': '0.031203',
 '64': '0.024834',
 '65': '0.020402',
 '66': '0.018373',
 '67': '0.017416',
 '68': '0.014771',
 '69': '0.014248',
 '70': '0.014764',
 '71': '0.010573',
 '72': '0.007839',
 '73': '0.009584',
 '74': '0.009506',
 '75': '0.004559',
 '76': '0.002932',
 '77': '0.002510',
 '78': '0.002162',
 '79': '0.001889',
 '80': '0.001770',
 '81': '0.001677',
 '82': '0.001380',
 '83': '0.001265',
 '84': '0.000979',
 '85': '0.000388',
 '86': '0.000078',
 '87': '0.000001',
 '91': '0.000200',
 '92': '0.206233',
 '93': '0.055721',
 '94': '0.258808',
 '95': '0.096710',
 '96': '0.006383',
 '97': '0.012799',
 '98': '0.018299',
 '99': '0.094127',
 '100': '0.197161',
 '101': '0.200766',
 '102': '0.425305',
 '103': '0.386083',
 '104': '0.229146',
 '106': '0.001151',
 '107': '0.094178',
 '108': '0.072075',
 '109': '0.113430',
 '110': '0.081476',
 '111': '0.012468',
 '112': '0.023315',
 '113': '0.025366',
 '114': '0.075289',
 '115': '0.147547',
 '116': '0.162155',
 '117': '0.239114',
 '118': '0.229784',
 '119': '0.124483',
 '221': '0.034483',
 '296': '0.275862',
 '448': '0.163793',
 '491': '0.060345',
 '572': '0.129310',
 '573': '0.008621',
 '580': '0.155172',
 '762': '0.129310',
 '816': '0.051724',
 '871': '0.008621',
 '959': '0.017241',
 '4124': '0.340551293848',
 '4125': '0.263356149835'}

In [12]:
# Get the keys from the dictionary with the most key-value pairs and store them in 'cols'
cols = sorted(d, key=len, reverse=True)[0].keys()

# Print the keys
print(cols)

dict_keys(['Label', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '123', '125', '127', '128', '129', '134', '142', '143', '144', '145', '149', '152', '156', '162', '166', '168', '171', '176', '182', '185', '186', '187', '188', '192', '194', '195', '197', '206', '208', '209', '212', '215', '219', '220', '221', '223', '229', '230', '231', '236', '262', '269', '271', '276', '296', '300', '317', '319', '347', '366', '406', '407', '409', '426', '448', '462', '463', '478', '482', '491', '505', '519', '559', '572', '573', '601', '621', '623', '627', '651', '709', '726', '767', '792', '816', '840', '852', '871', '877', '882', '924', '959', '1002', '1016', '1048', '4124', '4125'])

In [13]:
# Create a DataFrame from the list of dictionaries 'd', using existing index and selected columns
df = pd.DataFrame.from_records(d, index=df.index, columns=cols)

In [14]:
# Display the first 5 rows of the updated DataFrame 'df'
df.head()

,Label,1,2,3,4,5,6,7,8,9,...,871,877,882,924,959,1002,1016,1048,4124,4125
0,1,34,7.221330,3.191483,23.518745,11.492748,0.012884,0.010939,0.070129,0.042020,...,0.008621,NaN,NaN,NaN,0.017241,NaN,NaN,NaN,0.340551293848,0.263356149835
1,1,26,6.180094,3.015362,32.932747,18.120752,0.013149,0.010831,0.075000,0.050982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.969323592363,0.623751637831
2,1,25,2.462173,1.541003,20.039402,18.033579,0.015869,0.011657,0.062625,0.042195,...,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.148112313307,0.780920132399
3,1,37,6.194136,2.658522,22.864201,13.588374,0.017141,0.012120,0.078041,0.072270,...,NaN,NaN,NaN,0.015625,0.023438,NaN,NaN,NaN,0.746379388402,0.403130075635
4,1,25,4.367200,2.063856,31.797680,14.305157,0.013647,0.013007,0.107625,0.080645,...,NaN,0.100000,NaN,NaN,0.025000,NaN,NaN,NaN,0.572577783148,0.588162223247

In [15]:
# Print the number of rows in the DataFrame 'df'
print("Number of rows: ", len(df))

Number of rows:  39252

In [16]:
# Convert the DataFrame columns to a list and store it in 'df_cols'
df_cols = list(df.columns)

# Remove the column named 'Label' from 'df_cols'
df_cols.remove('Label')

# Convert the remaining column names to integers and store them back in 'df_cols'
df_cols = list(map(int, df_cols))

# Sort the column names in ascending order
df_cols.sort()

# Convert the column names back to strings
df_cols = list(map(str, df_cols))

# Add the 'Label' column name back to the end of the list
df_cols.append('Label')

In [17]:
# Reorder the columns of the DataFrame 'df' based on the list 'df_cols'
df = df[df_cols]

In [18]:
# Replace all missing values (NaN) in the DataFrame 'df' with the string 'NA'
df = df.fillna('NA')

In [19]:
# Display the first 5 rows of the DataFrame 'df'
df.head()

,1,2,3,4,5,6,7,8,9,10,...,877,882,924,959,1002,1016,1048,4124,4125,Label
0,34,7.221330,3.191483,23.518745,11.492748,0.012884,0.010939,0.070129,0.042020,3479.684814,...,NA,NA,NA,0.017241,NA,NA,NA,0.340551293848,0.263356149835,1
1,26,6.180094,3.015362,32.932747,18.120752,0.013149,0.010831,0.075000,0.050982,3362.287354,...,NA,NA,NA,NA,NA,NA,NA,0.969323592363,0.623751637831,1
2,25,2.462173,1.541003,20.039402,18.033579,0.015869,0.011657,0.062625,0.042195,3317.864746,...,NA,NA,NA,NA,NA,NA,NA,0.148112313307,0.780920132399,1
3,37,6.194136,2.658522,22.864201,13.588374,0.017141,0.012120,0.078041,0.072270,3491.640137,...,NA,NA,0.015625,0.023438,NA,NA,NA,0.746379388402,0.403130075635,1
4,25,4.367200,2.063856,31.797680,14.305157,0.013647,0.013007,0.107625,0.080645,3327.662109,...,0.100000,NA,NA,0.025000,NA,NA,NA,0.572577783148,0.588162223247,1

In [20]:
# Save the DataFrame 'df' to a CSV file named 'TIMESNOW_Cleaned.csv' without including row indices
df.to_csv("TIMESNOW_Cleaned.csv", index=False)